<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="InputLocations" value="W:\Dropbox\Camera Uploads|w:\Dropbox\Camera Uploads from Jocelyn|g:\DCIM|h:\DCIM|i:\DCIM|l:\DCIM"/>
    <add key="ImageExtensions" value=".jpg|.raw|.cr2|.png"/>
    <add key="VideoExtensions" value=".avi|.mp4"/>
    <add key="IgnoredExtensions" value=".dropbox|.ini|.thm"/>
    <add key="PrimaryImageOutputLocation" value="w:\Dropbox\Photos\_Originals" />
    <add key="SecondaryImageOutputLocations" value="W:\Dropbox\Photos\_Curated" />
    <add key="PrimaryVideoOutputLocation" value="w:\Dropbox\Videos"/>
    <add key="SecondaryVideoOutputLocations" value=""/>
    <add key="UnknownFileOutputLocations" value="w:\Dropbox\Photos\Unknown Media Files" />
  </appSettings>
</configuration>